<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.study.batch.mapper.MetadataMapper">
    <select id="fetchTableMetadata" resultType="kr.study.batch.vo.TableMetadata">
        SELECT
            c.relname AS tableName,
            d.description AS description
        FROM
            pg_catalog.pg_class c
        LEFT JOIN
            pg_catalog.pg_description d
            ON c.oid = d.objoid AND d.objsubid = 0 -- Ensure it's a table description
        JOIN
            pg_catalog.pg_namespace n
            ON c.relnamespace = n.oid
        WHERE
            c.relkind = 'r' -- Only regular tables
            AND n.nspname = 'bookstore1' -- Specify schema name
        ORDER BY
            c.relname
        OFFSET #{_skiprows} LIMIT #{_pagesize}
    <!-- SELECT tbl_nm      AS tableName,
           tbl_korn_nm AS description
    FROM t_mf_mng_schm_tbl
    where meta_mng_inst_id = 6
      and info_sys_id = 6
      and db_id = 6
   OFFSET #{_skiprows} LIMIT #{_pagesize} -->
    </select>

    <select id="fetchColumnMetadata" resultType="kr.study.batch.vo.ColumnMetadata">
        SELECT
            c.table_name AS tableName
          , c.column_name AS columnName
          , pgd.description AS description
          , c.udt_name as dataTypeCode
          , CASE
                WHEN kcu.column_name IS NOT NULL THEN 'Y'
                ELSE 'N'
            END AS isPrimaryKey
        FROM
            information_schema.columns c
        LEFT JOIN
            information_schema.key_column_usage kcu
            ON c.table_name = kcu.table_name
            AND c.table_schema = kcu.table_schema
            AND c.column_name = kcu.column_name
        LEFT JOIN
            pg_catalog.pg_statio_all_tables st
            ON st.schemaname = c.table_schema AND st.relname = c.table_name
        LEFT JOIN
            pg_catalog.pg_description pgd
            ON pgd.objoid = st.relid AND pgd.objsubid = c.ordinal_position
        WHERE
            c.table_schema = 'bookstore1' -- Specify schema name
        ORDER BY
            c.table_name, c.ordinal_position
        OFFSET #{_skiprows} LIMIT #{_pagesize}
        <!-- SELECT tbl_nm      AS tableName,
               col_nm      AS columnName,
               col_korn_nm AS description,
               data_typ_cd    AS dataTypeCode
        FROM t_mf_mng_schm_col
        where meta_mng_inst_id = 6
          and info_sys_id = 6
          and db_id = 6
        OFFSET #{_skiprows} LIMIT #{_pagesize} -->
    </select>

    <select id="fetchPrimaryKeyMetadata" resultType="kr.study.batch.vo.PrimaryKeyMetadata">
        SELECT
            col.tbl_nm AS tableName,
            col.col_nm AS columnName,
            col.col_korn_nm AS description,
            CASE
                WHEN pk.cnstrt_col_nm IS NOT NULL THEN 'Y'
                ELSE 'N'
            END AS isPrimaryKey
        FROM t_mf_mng_schm_col col
        LEFT JOIN t_mf_mng_schm_cnstrt_dtl pk
            ON col.meta_mng_inst_id = pk.meta_mng_inst_id
            AND col.info_sys_id = pk.info_sys_id
            AND col.db_id = pk.db_id
            AND col.schm_nm = pk.schm_nm
            AND col.tbl_nm = pk.tbl_nm
            AND col.col_nm = pk.cnstrt_col_nm
        WHERE
            col.meta_mng_inst_id = 6
            AND col.info_sys_id = 6
            AND col.db_id = 6
        OFFSET #{_skiprows} LIMIT #{_pagesize}
    </select>
</mapper>
